html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Heue", Helvetica, Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    color: blue;
    background-color: lightblue;
    
}
/*==== NAV STYLE ====*/

.wrap {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.menu-container {
    top: 0;
    left: 0;
    /* To the top edge of the screen */
    position: fixed;
    width: 100%;
    background-color: lightpink;
}


.menu {
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 20;
    list-style: none;
}

.menu li {
    color: white;
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding: 12px 40px;
    border: 1px solid salmon;
    border-radius: 1.5px;
    background-color: lightseagreen;
    cursor: pointer;
}

.menu li:hover {
    background-color: lightpink;
    color: #fff;    
}

.menu li:hover ul {
    display: block;
    opacity: 1;
    /* While hovered, drop down-menu appears
        This also avoids a block-level bug */
    visibility: visible;   
}

.submenu {
    padding: 0;
    left: 0;
    position: absolute;
    top: 43.5px;
    width: 125.5px;
    opacity: 0;
    /* While not being hovered, drop down-menu hides
       This also avoids a blocks-level bug */
    visibility: hidden;
}

.submenu li {
    background-color:lightseagreen;
    display: block;
    color: white;
}

.submenu li:hover {
    color: #fff;
    background-color: lightseagreen;
}

.submenu.submenubtn  {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*==== END OF NAV STYLE ====*/

/*==== BODY STYLE ====*/

body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Heue", Helvetica, Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

footer,
nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
} 

h1  {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #e91c1c;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

h1::after {  /* This is the underline */
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: salmon;
    margin:  5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, .5);
}

h2 {
    line-height: 50px;
    color: salmon;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}


.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after  {
    clear: both;
    display: table;
    content: "  ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /* This ensure that the images cnnot
       render outside of their container
       without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container  {
    max-height: 340px;
    margin: 0% auto;
    content: "  ";
    /* top: 0;
    left: 0; */
    /* postion: absolute; */ /* to the top edge of the screen */
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color: rgba(255, 255, 0.5);*/
}

/*===============================================================
    HOME SECTION STYLES
=================================================================*/
#home  {
    
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -c-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* This is a spacer before the Main title Logo */
    padding-bottom: 500px; /* This a spacer after the Main title logo */
    color: blue;
}

/*======================================================
  CONTACT STYLES
  ======================================================*/
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, 3);
    box-shadow: 2px, 2px, 10px, 0, rgba(0, 0, 0, .5);
}

#contact {
    background-color: #f5f3f3;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: #13161b;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: lightblue;
    padding: 20px 20px;
    width: 70%;
    border: 5px solid lightblue;
    margin: 2% auto;
    border-radius: 12px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, .3);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b09;
    border-right: 2px solid #424549;
    border-left: 1px solid #090b09;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px lightcoral;
}

.form-spacer {
    padding:  30px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(225, 225, 225);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: lightblue;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
}

/*======================================================
    FOOTER STYLES
=======================================================*/
#footer {
    background-color: lightblue;
    color: #000;
    text-shadow: 2px 2px 8px 0 (0, 0, 0, 0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}